:root{
  /* 컬러 */
  --color-primary: #F25623;
  --color-offblack: #000000;
  --color-black: #25343F;
  --color-darkgray: #7C8297;
  --color-gray: #BFC9D1;
  --color-white: #EAEFEF;
  --color-offwhite: #FFFFFF;
  
  /* 글꼴 크기 */
  --fontsize-xs: 14px;
  --fontsize-sm: 16px;
  --fontsize-re: 18px;
  --fontsize-md: 24px;
  --fontsize-lg: 32px;
  --fontsize-xl: 36px;
  --fontsize-2xl: 48px;
  --fontsize-3xl: 56px;
  --fontsize-4xl: 64px;
  --fontsize-5xl: 72px;
  /* 글꼴 크기 */
  --fontweight-sm: 200;
  --fontweight-re: 300;
  --fontweight-base: 400;
  --fontweight-md: 500;
  --fontweight-lg: 800;
  --fontweight-xl: 900;

  /* 마진, 패딩 */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-re: 12px;
  --spacing-md: 18px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 36px;
  --spacing-3xl: 40px;
  --spacing-4xl: 48px;
}